DB_HOST=
DB_ROOT_USER=
DB_ROOT_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
SERVER_URL=
SERVER_PORT=
AD_URL=
AD_BASE_DN=
AD_DOMAIN=
AD_NETBIOS_DOMAIN=
AD_BIND_DN=
AD_BIND_PASSWORD=
AD_ADMIN_GROUPS=
AD_DEBUG=